@media (max-width: 767px) {
  .card-1 {
    border-top: 5px solid #ff4f64;
  }

  .card-2 {
    border-top: 5px solid #00a8e7;
  }

  .card-3 {
    border-top: 5px solid #44c4a1;
  }

  .card-4 {
    border-top: 5px solid #fcc200;
  }

  .heading-2 {
    font-size: 30px;
  }

  .paragraph-2 {
    color: #171f46;
  }

  .card {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: auto;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    height: 50%;
    width: 50%;
    margin: 10px;
    align-self: flex-end !important;
  }
}
@media (min-width: 768px) {
  .card-1 {
    border-top: 5px solid #ff4f64;
  }

  .card-2 {
    border-top: 5px solid #00a8e7;
  }

  .card-3 {
    border-top: 5px solid #44c4a1;
  }

  .card-4 {
    border-top: 5px solid #fcc200;
  }

  .heading-2 {
    font-size: 30px;
  }

  .paragraph-2 {
    color: #171f46;
  }

  .card {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: auto;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    height: 50%;
    width: 50%;
    margin: 10px;
    align-self: flex-end !important;
  }
}
