.thumbnail-item {
  margin: 10px;
}

.thumbnail-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
