.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Light Mode Navbar */
.navbar-container-light {
  background-color: #ffffff;
}

/* Dark Mode Navbar */
.navbar-container-dark {
  background-color: #181818;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.left,
.right {
  display: flex;
  align-items: center;
}

.website-logo {
  height: 40px;
  margin-right: 1rem;
}

.mid {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  margin-right: 1.5rem;
}

.nav-link a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link a:hover {
  color: #007bff;
}

/* Dark Mode Navbar Links */
.navbar-container-dark .nav-link a {
  color: #f1f5f9;
}

.navbar-container-dark .nav-link a:hover {
  color: #90caf9;
}

/* Theme Switch Button */
.theme-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.theme-icon {
  height: 30px;
  width: 30px;
  transition: transform 0.3s ease;
}

.theme-icon:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .mid {
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
