.body {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  padding: 20px;
}

.navbar {
  background-color: #cbd5e1;
  padding: 15px;
  border-right: 1px solid #ced4da;
}

.content {
  background-color: #e2e8f0;
  padding: 15px;
  border-right: 1px solid #ced4da;
}

.ad {
  background-color: #cbd5e1;
  padding: 15px;
}

.body h5 {
  margin-top: 0;
}

.p {
  height: 100px;
  width: 100px;
  border: 2px solid #475569;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
