.tab-item {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.tab-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
}

.active-btn {
  color: #007bff;
  font-weight: bold;
}

.tab-item:hover {
  background-color: #e0e0e0;
}
