.home-route-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ipl-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ipl-logo {
  width: 60px;
  margin-right: 10px;
}

.ipl-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 32px;
}

.teams-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .home-route-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
