.cryptocurrency-tracker-container {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00e7ff;
}

.cryptocurrency-image {
  width: 100%;
  max-width: 600px;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .cryptocurrency-image {
    width: 30%;
    max-width: 200px;
  }
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00e7ff;
  }
}
