.list {
  list-style: none;
}

.button {
  background-color: #382f5a;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

.button:hover {
  background-color: #585076;
}
